 * {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
 }

 body {
   background-color: rgb(247, 242, 244);
 }

 .pet-card {
   background-color: white;
   margin: 10px;
   padding: 30px;
   padding-left: 10%;
   padding-right: 10%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.092);
   transition: margin 0.5s;
   &:last-child {
      order: -1;
      &::before {
         content: "¡Nuevo!";
         color: palevioletred;
         font-size: 12px;
         margin-bottom: 10px;
      }
   }
   &:hover{
      margin-left: 5px;
      margin-right: 5px;
   }

   &_data {
      display: flex;
      justify-content: left;
      gap: 15px;
   }
 }

 .fieldnames {
   text-align: right;
 }

 h1 {
   flex-grow: 3;
   color: palevioletred;
 }

 .header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 40px;
   padding-left: 15%;
   padding-right: 15%;
   }

   .login-signup-container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
   }

   .form {
      display: flex;
      flex-direction: column;
   }

   .add-pet-form {
      display: flex;
      gap: 20px;
      flex-direction: column;
    
   }

   .pets-container {
      padding: 15%;
      padding-top: 20px;
      padding-bottom: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      
   }

   .hidden {
      display: none;
   }

   .add-new-pet{
      display: flex;
      justify-content: center;
      gap: 10px;
      div {
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 10px;
      }
   }

   .card-btn-box {
      display: flex;
      gap: 20px;
      justify-content: right;
      margin-top: 20px;
   }

   button {
      border: 2px solid palevioletred;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      color: palevioletred;
      background-color: transparent;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
         background-color: rgb(250, 215, 229);
      }
   }

   input {
      color: palevioletred;
   }

   .loginbox {
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
         margin-top: 20px;
      }

      p {
         color: palevioletred;
         font-weight: bold;
      }
   }